<div [style.background]="content?.backgroundColor"
     [style.height]="content?.height"
     class="w-full relative card-section md:px-12 sm:px-4 py-6"
     [ngClass]="getContainerClass">
  <!--    logo-->
  <div class="logo">
    <img class="w-full" [src]="content?.logo" alt="">
  </div>

  <div class="content h-auto"
       [style.width]="content?.width"
       [ngClass]="getClass">
    <div class="content-text mb-6" [style.color]="content?.textColor">
      <!--  title -->
      <h1 class="font-bold"
          [style.text-align]="content?.titleContent?.align"
          [style.font-size]="content?.titleContent?.size">
        {{ content?.titleContent.title }}
      </h1>
      <!--  Content text-->
      <div class="text-lg font-light mt-4 leading-8" [innerHTML]="safeHtml"></div>
    </div>
    <div *ngIf="content?.descriptionContent.image"
         class="content-image ">
      <img [src]="content?.descriptionContent.image" alt="">
    </div>
  </div>

  <!--  Buttons -->
  <div class="w-full flex justify-center" *ngIf="content?.buttons">
    <a [href]="content.buttons.href"
       [style.background]="content.buttons.backgroundColor"
       [style.color]="content.buttons.textColor"
       class="relative h-14 flex items-center px-6 rounded-lg">
      {{ content.buttons.text }}
    </a>
  </div>
</div>

