<div class="relative w-full h-auto flex flex-col items-center bg-lightGray pb-6">
  <div class="flex bg-r lg:flex-row justify-center lg:px-40 pt-20 pb-6 bg-lightGray md:flex-col sm:flex-col">
    <!--  settings buttons -->
    <div class="relative w-32 lg:h-72 md:mb-6 flex flex-col items-center gap-7 mr-8">
      <button
        (click)="showConfig = !showConfig"
        class="w-20 h-20 bg-red-500 rounded-full  flex items-center justify-center">
        <img class="w-10" src="https://cdn2.hubspot.net/hubfs/53/invoice%20generator/toolset.svg" alt="">
      </button>
      <div class="flex gap-5" *ngIf="showConfig">
        <button (click)="resetForm()"
                class="btn-clear w-12 h-12 bg-red-500 rounded-full flex items-center justify-center">
          <img class="w-5" src="https://cdn2.hubspot.net/hubfs/53/invoice%20generator/clear.svg" alt="">
        </button>

        <button (click)="toggleColorPicker()"
                class="btn-clear w-12 h-12 bg-red-500 rounded-full flex items-center justify-center">
          <img class="w-5" src="https://cdn2.hubspot.net/hubfs/53/invoice%20generator/paintbrush.svg" alt="">
        </button>
      </div>

      <!--    color picker -->
      <div *ngIf="showColorPicker" class="absolute left-0 bottom-0 z-40">
        <color-twitter width="230" [colors]="colors" [color]="colorSelected" triangle="hide"
                       (onChangeComplete)="changeComplete($event)">
        </color-twitter>
      </div>
    </div>

    <!--  template-->
    <div style="min-height: 800px"
         class="relative lg:w-2/4  sm:w-screen lg:px-12 lg:py-6 bg-white shadow-2xl z-20">
      <!--    top sided -->
      <div class="">
        <!--      form left -->
        <form [formGroup]="infoForm" class="flex justify-between" novalidate>
          <div class="left-form">
            <h1 class="text-3xl font-bold mb-4">Invoice</h1>
            <!--          Company form -->
            <div>
              <div>
                <input class="placeholder-bold text-lg" type="text" placeholder="Your Company*"
                       formControlName="company" required>
                <!--              <div *ngFor="let error of getControlErrors('firstName')">-->
                <!--                <small class="text-danger">{{ error }}</small>-->
                <!--              </div>-->
              </div>

              <!--          name-->
              <div class="flex">
                <div>
                  <input type="text" placeholder="First Name*" formControlName="firstName" required>
                </div>
                <div>
                  <input type="text" placeholder="Last Name*" formControlName="lastName" required>
                </div>
              </div>
              <!--          webSite-->
              <div>
                <input class="" type="text" placeholder="Company Website"
                       formControlName="companySite" required>
              </div>
              <!--address-->
              <div>
                <input class="" type="text" placeholder="Company Address" formControlName="companyAddress" required>
              </div>
              <!--          city-->
              <div>
                <input class="" type="text" placeholder="City, State ZIP" formControlName="city" required>
              </div>
              <!--country-->
              <div>
                <input class="" type="text" placeholder="Country" formControlName="country" required>
              </div>

              <div>
                <input class="" type="text" placeholder="Phone No" formControlName="phone" required>
              </div>
              <!--email-->
              <div>
                <input class="" type="text" placeholder="Email Address" formControlName="email" required>
              </div>
            </div>
            <!--          Clients form -->
            <div class="mt-5" formGroupName="clientInfo">
              <div>
                <input class="placeholder-bold text-lg" type="text" placeholder="Client's Company*"
                       formControlName="company" required>
              </div>

              <!--          name-->
              <div class="flex">
                <div>
                  <input type="text" placeholder="First Name*" formControlName="firstName" required>
                </div>
                <div>
                  <input type="text" placeholder="Last Name*" formControlName="firstName" required>
                </div>
              </div>
              <!--address-->
              <div>
                <input class="" type="text" placeholder="Client's Address" formControlName="companyAddress" required>
              </div>
              <!--          city-->
              <div>
                <input class="" type="text" placeholder="City, State ZIP" formControlName="city" required>
              </div>
              <!--country-->
              <div>
                <input class="" type="text" placeholder="Country" formControlName="country" required>
              </div>
              <!--email-->
              <div>
                <input class="" type="text" placeholder="Client's Email" formControlName="email" required>
              </div>
            </div>
          </div>

          <!--        right sided -->
          <div class="right-side font-light flex flex-grow items-end justify-between flex-col relative">
            <!--         drag and drop-->
            <div class=" top-0">
              <div
                [ngClass]="selectedImage ? 'drop-border-none' : 'drop-border'"
                class="drop-area cursor-pointer w-52 h-28 hover:scale-90"
                (drop)="onFileDropped($event)"
                (dragover)="onDragOver($event)"
                (click)="fileInput.click()">
                <p *ngIf="!selectedImage" class="font-bold mx-12 my-2">Drag & drop a logo file or click to upload</p>
                <div class="w-full h-full" *ngIf="selectedImage">
                  <img class="w-full h-full" [src]="selectedImage" alt="">
                </div>
                <input type="file" #fileInput (change)="onFileSelected($event)" multiple style="display: none;"/>
              </div>

            </div>
            <!--error list -->
            <div class="error-list my-3" *ngIf="infoForm.dirty">
              <ul>
                <li *ngFor="let error of getAllErrors()">
                  {{ error }}
                </li>
              </ul>
            </div>

            <!--  Totals       -->
            <div class="flex flex-col justify-end items-end -bottom-4" formGroupName="invoiceInfo">
              <div class="flex gap-4">
                <div>Invoice No:</div>
                <div class="w-24">
                  <input class="w-full text-right placeholder:text-right"
                         formControlName="invoiceNumber"
                         type="text" placeholder="###">
                </div>
              </div>
              <!--            invoice date-->
              <div class="flex gap-4">
                <div>Invoice Date:</div>
                <div class="w-24">
                  <input class="w-full"
                         formControlName="invoiceDate"
                         type="date">
                </div>
              </div>
              <!--            due date-->
              <div class="flex gap-4">
                <div>Due Date:</div>
                <div class="w-24">
                  <input class="w-full"
                         formControlName="dueDate"
                         type="date">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!--    Table side -->
      <div class="w-full mt-20" (mouseleave)="hiddAddmoreRows()">
        <table class="table-fixed w-full table-items" (click)="showAddMoreRows = !showAddMoreRows">
          <thead>
          <tr [style.background]="colorSelected"
              class="text-white text-left"
              (mouseenter)="showAddMoreRowsButton()">
            <th class="font-light">ID</th>
            <th class="">Description</th>
            <th class="">Quantity</th>
            <th class="">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of itemsList; let index = index"
              (mouseover)="showRemoveRow(index)"
              (mouseleave)="hoveredRowIndex = -1"
              class="bg-white even:bg-gray-100 border-b border-black last:border-none">
            <td>
              <input type="number" placeholder="" class="w-full" [(ngModel)]="item.id">
            </td>
            <td>
              <input type="text" placeholder="Item description" class="w-full" [(ngModel)]="item.description">
            </td>
            <td>
              <input type="number" placeholder="Quantity" class="w-full" [(ngModel)]="item.quantity">
            </td>
            <td class="relative z-99 flex">
              <input type="number" placeholder="$0.00" class="w-full" [(ngModel)]="item.price">
              <button (click)="removeRow(index)"
                      [ngClass]="{'show': hoveredRowIndex === index}"
                      class="btn-remove absolute h-6 w-6 bg-red-500 rounded-full text-white">X
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <button [ngClass]="{'show': showAddMoreRows}"
                class="w-full h-10 btn-danger btn-add mb-10" (click)="addMore()">+Add More
        </button>
      </div>
      <div class="w-full flex gap-10">
        <div [style.border-color]="colorSelected"
             class="w-1/2 rounded-lg border flex flex-col justify-center items-center p-4">
          <span class="font-light">Notes:</span>
          <textarea class="w-full placeholder:font-light placeholder:text-center text-center"
                    rows="2" placeholder="any additional comments">
        </textarea>
        </div>

        <div class="w-1/2 flex flex-col gap-2">
          <div class="flex justify-between">
            Subtotal:
            <div>{{ getSubTotal }}</div>
          </div>
          <div class="flex justify-between relative">
            Tax:
            <div>
              <input class="w-8 text-right placeholder:text-right" type="number" placeholder="0" max="100"
                     [(ngModel)]="tax">
            </div>
            <div class="absolute -right-5">%</div>
          </div>

          <div class="flex justify-between relative">
            Discount:
            <div><input class="w-8 text-right placeholder:text-right" type="number" placeholder="0"
                        [(ngModel)]="discount"></div>
            <div class="absolute -right-5">%</div>
          </div>
          <div [style.border-color]="colorSelected" class="border-b w-full my-1"></div>
          <div class="flex justify-between">
            Total:
            <div>
              {{ getTotal }}
            </div>
          </div>
        </div>
      </div>

      <!--    footer-->
      <div class="w-full text-center font-light text-normal mt-10">
        This invoice was created using the HubSpot
        <a class="underline font-medium text-blue-600" href="https://www.hubspot.com/invoice-template-generator">Invoice
          Template Generator</a>
      </div>

    </div>
  </div>

  <!--  buttons -->
  <div class="flex justify-end mr-6 gap-3 lg:w-2/4">
    <button class="btn btn-primary">
      Share your invoice using HubSpot
    </button>
    <button class="btn btn-secondary">
      Download now
    </button>
  </div>
</div>
