@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.btn {
  border-radius: 8px;
  line-height: 28px;
  font-weight: 500;
  align-items: center;
  padding: 12px 24px;
  text-align: center;
  &:hover {
    opacity: 0.9;
  }
}

.btn-primary {
  background: #e04826;
  color: #fff;
}
.btn-secondary{
  background: #fff;
  color: #e04826;
  border: 2px solid #e04826;
}
.btn-alternative{
  background: #000;
  color: #fff;
}
