.expansion-panel {
  border: 1xp solid
}

.collapse-content {
  transition: max-height .2s ease, opacity .2s ease-in-out, visibility 0s;
}

.collapse-content {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.collapse-content.show {
  max-height: none;
  opacity: 1;
  transition: max-height .4s ease, opacity .4s ease-in-out, visibility 0s;
  visibility: visible;
  padding: 0px 24px 24px 24px;
}

.collapse-button {
  &:hover {
    color: #0068B1;
  }
}
