<div
  class="w-full border border-gray-200 rounded-lg expansion-panel h-auto pl-6
                flex flex-col justify-center transition mb-4">
  <button class="collapse-button text-left py-6 cursor-pointer text-lg font-bold" (click)="togglePanel()">
    <i class="fas fa-chevron-right mr-2" [ngClass]="{'rotate-90': panelOpenState}"></i>
    {{ content?.title }}
  </button>
  <div class="collapse-content font-light leading-8" [ngClass]="{'show': panelOpenState }"
       [innerHTML]="safeHtml">
  </div>
</div>
